---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Fleet from '../components/Fleet.astro';
import Services from '../components/Services.astro';
import Experience from '../components/Experience.astro';
import Booking from '../components/Booking.astro';
import ContactFooter from '../components/ContactFooter.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Fleet />
    <Services />
    <Experience />
    <Booking />
    <ContactFooter />
  </main>
</Layout>
